.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__name
        = current_user.name
      %ul.LeftHeader__icons
        %li.LeftHeader__icon
          = link_to '#' do
            = icon('fas', 'edit')
        %li.LeftHeader__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .LeftBody
    .LeftBody__group-list
      .LeftBody__group-name
        test
      .LeftBody__message
        まだメッセージはありません
    .LeftBody__group-list
      .LeftBody__group-name
        test2
      .LeftBody__message
        まだメッセージはありません2